menu "Box Configuration"

    config BRIDGE_GPIO_RST
        int "GPIO pin for RST signal"
        default 41

    config BRIDGE_GPIO_EN1
        int "GPIO pin for EN1 signal"
        default 40

    config BRIDGE_GPIO_RX1
        int "GPIO pin for Rx1 signal"
        default 38

    config BRIDGE_GPIO_TX1
        int "GPIO pin for Tx1 signal"
        default 39

    config BRIDGE_GPIO_EN2
        int "GPIO pin for EN2 signal"
        default 14

    config BRIDGE_GPIO_RX2
        int "GPIO pin for Rx2 signal"
        default 42

    config BRIDGE_GPIO_TX2
        int "GPIO pin for Tx2 signal"
        default 21

    config BRIDGE_GPIO_TDI
        int "GPIO pin for TDI signal"
        default 10

    config BRIDGE_GPIO_TDO
        int "GPIO pin for TDO signal"
        default 11

    config BRIDGE_GPIO_TCK
        int "GPIO pin for TCK signal"
        default 13

    config BRIDGE_GPIO_TMS
        int "GPIO pin for TMS signal"
        default 9

    config BRIDGE_SDMMC_CLK
        int "SDMMC CLK pin"
        default 44

    config BRIDGE_SDMMC_CMD
        int "SDMMC CMD pin"
        default 43

    config BRIDGE_SDMMC_D0
        int "SDMMC DAT pin"
        default 12

    config BRIDGE_USB_VID
        hex "USB vendor ID"
        default 0x303A

    config BRIDGE_USB_PID
        hex "USB product ID"
        default 0x1002

    config BRIDGE_MANUFACTURER
        string "USB bridge manufacturer"
        default "Espressif Systems Co. Ltd."

    config BRIDGE_PRODUCT_NAME
        string "USB product name"
        default "Box Bridge"

    config BRIDGE_MSC_VOLUME_LABEL
        string "Volume label shown in the MSC disc"
        default "BOX_MSC"
        help
            Volume label shown in the MSC disc. Max lenght is 11 ASCII characters.

endmenu
